{{#each eachSem}}
    <div class="card mt-2">
        <div class="card-body">
            <a class="semester_title" href="/semesters/show_marks/semester_number={{sem_number}}/{{id}}"><h3>Semester: {{sem_number}}</h3></a>
            <p>College: {{college_name}}</p>
            <a href="/marks/add_marks/{{id}}"><button class="btn btn-primary">Add Marks</button></a>
            <a href="/marks/edit_marks/semester_number={{sem_number}}/{{id}}"><button class="btn btn-default">Edit Marks</button></a>
        </div>
    </div>
{{/each}}