<div class="card card-body">
    <h3>Add Marks</h3>
    <form class="marks_form" action="/marks/add_marks/semester_number={{sem.sem_number}}/{{sem.id}}" method="POST">
        <div class="table-responsive">
            <table class="table table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Obtained Marks</th>
                    <th scope="col">Maximum Marks</th>
                </tr>
            </thead>
            <tbody>
                {{#each sem}}
                {{#each subjects}}
                <tr>
                    <th scope="row" name="{{this}}">{{this}}</th>
                    <input type="hidden" name="subjName" value="{{this}}">
                    <td><input type="number" class="form-control obtained" required name="subj_obtained_marks"></td>
                    <td><input type="number" class="form-control maximum" required name="subj_max_marks"></td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Submit Marks">
        </div>
    </form>
</div>